.myDequeWrapper{
    /* position: absolute; */
    background-color: black;
    width: 100%;
    height: stretch;
    align-items: center;
    display: flex;
    flex-direction: row;

}
.myDeque{
    color: white;
    background-color: red;
    width: fit-content;
    /* padding-left */
    border-color: aquamarine;
    border-style: solid;
    border-width: 2px;
    padding: 5px;

}
