<!--The content below is only a placeholder and can be replaced.-->
<div>
  
  Add First: <input #addFirst />
  <button type="button" (click)="addFirstFunc(addFirst.value)">CREATE</button>
  Offer First: <input #offerFirst />
  <button type="button" (click)="offerFirstFunc(offerFirst.value)">CREATE</button>
  Add Last: <input #addLast />
  <button type="button" (click)="addLastFunc(addLast.value)">CREATE</button>
  Offer Last: <input #offerLast />
  <button type="button" (click)="offerLastFunc(offerLast.value)">CREATE</button>
</div>
<!-- <router-outlet></router-outlet> -->
